{% extends 'layout.html' %}

{% block body %}
    <div class="container my-3">
        <h2>Add some Kaam-Kaaj</h2>
        <form action="/" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Kaam Ka Naam</label>
                <input type="text" class="form-control" name="title" id="title">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Kaam Ki Details</label>
                <input type="text" class="form-control" name="desc" id="desc">
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
    <div class="container my-3">
        <h2>Abhi ka Kaam-Kaaj</h2>
        {% if todolist|length == 0 %}
            <p class="lead">Yay! No Work. Enjoy while it lasts.</p>
        {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S.No.</th>
                    <th scope="col">Title</th>
                    <th scope="col">Desc</th>
                    <th scope="col">DateCreated</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for current in todolist %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{current.title}}</td>
                    <td>{{current.desc}}</td>
                    <td>{{current.date_created}}</td>
                    <td>
                        <a href="/update/{{current.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update</a>
                        <a href="/delete/{{current.sno}}" type="button" class="btn btn-outline-danger btn-sm mx-1">Delete</a>
                    </td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock body %}